.payment-info{
    display: inline-block;
    width: 60%;
    margin-left: 1%;
    vertical-align: top;
    margin-top: 5%;
    border: 1px solid #000;
    border-radius: 2%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 2%;
    .card-name, .card-number{
        display: inline-block;
        margin-bottom: 1%;
    }
    .card-cvv{
        margin-left: 2%;
        input{
            width: 50px;
        }
    }

    .card-expiry{
        input{
            width: 50px;
        }
    }

    .checkout-btn{
        display: inline-block;
        margin-top: 1%;
    }
}